{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#status" data-toggle="tab">Status</a></li>
          <li><a href="#logs" data-toggle="tab">Logs</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="status">
              <div class="span10">
                {% if user %}
                  <h3>Hello, {{user.username}}</h3></br>
                  {% if status %}
                    <p>The current torrentbox status is: <span class="label label-success">online</span></p>
                  {% else %}
                    <p>The current torrentbox status is: <span class="label label-important">offline</span></p>
                  {% endif %}
                  {% if queue %}
                    <p>You have items in the <span class="label label-warning">queue</span> waiting to be downloaded!</p>
                  {% else %}
                    <p>Your queue seems <span class="label">empty</span> at the moment!</p>
                  {% endif %}
                {% else %}
                  <h3>Hello, stranger</h3>
                {% endif %}
              </div>
          </div>
          <div class="tab-pane" id="logs">
            <div class="span10">
              {% if log %}
                <h3>Your torrentbox latest logs.</h3></br>
                {% for l in log %}
                  <strong>{{ l.hostname }}: </strong>{{ l.time }}; {{ l.uptime }}</br>
                {% endfor %}
              {% else %}
                <h3>be cool bro, you have an empty log.</h3>
              {% endif %}
            </div>
          </div>
        </div> <!-- .tab-content -->
      </div> <!-- .tabbable .tabs-left -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
{% endblock %}