 {% extends "base.html" %}
  {% block content %}
    <form method="POST" action="" class="form">
      {{ form.csrf_token }}
      {% for error in form.errors.username %}
        <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.username.label }} {{ form.username(size=20) }}
            {% for error in form.errors.email %}
        <span style="color: red;">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.email.label }} {{ form.email(size=20) }}
      {{ form.password.label }} {{ form.password(size=20) }}
      {{ form.confirm.label }} {{ form.confirm(size=20) }}
      <input type="submit" value="Register" class="btn">
    </form>
    <a href="{{ url_for('signin') }}">Sign in</a>
  {% endblock %}